*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(18, 18, 18);
}

.memory-game {
    height: 640px;
    width: 740px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc( 33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*nao ira deixa o elemento achatado no plano/2d*/
    transition: transform .9s;
}
.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    backface-visibility: hidden; /*propriedade que tira o verso do elemento*/
}
.card-front {
    transform: rotateY(180deg);
}

/* flip-card-animation */

.card.flip{
    transform: rotateY(180deg);
}